node_modules
src/*.sh

demo/platforms
demo/lib
demo/**/*.js
demo/**/*.map
!demo/hooks/**/*.js

demo-ng/platforms
demo-ng/lib
demo-ng/**/*.js
demo-ng/**/*.map
!demo-ng/hooks/**/*.js

package/
report

.tscache
package-lock.json
!webpack.*.js
*.esm.json
